body {
    margin: 0;
}
div{
    width: 200px;
    height: 200px;
    position: absolute;
}
#Top{
    background-color: red;
    top: 480px;
}
#Mid{
    background-color: blue;
    left: 200px;
    top: 280px;
}
#Bot{
    background-color: yellow;
    left: 400px;
}